.hide {
  display: none;
}

#popUpDiv {
  z-index: 100;
  position: absolute;
  background-color: white;
  top: 100px;
  left: 250px;
  width: 400px;
  height: auto;
}
.right {
  float: right;
}
.infoText {
  text-align: center;
  color: #ff8100b8;
  margin-top: 10px;
}
.nav{
  display: block;
  margin: 10px 0; 
  border: 1px solid transparent;
  border-radius: 5px;
  height: 60px;
}
.navHead{
  text-align: center;
}
.btn-success{
  width: 100%;
}
